<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan"><i class="fa-solid fa-magnifying-glass "></i> Issue Tracker</a>
    <a href="/issueTracker/projectDetails" class="btn btn-success mx-5" style="color: rgb(255, 255, 255)">Project Details</a>
</header>